NODE_ENV=development
PORT=3000
DB_TYPE=sqlite
DB_SYNC=true
DB_SSL=false
DB_HOST=localhost
DB_PORT=5432
DB_USER=modulart
DB_PASSWORD=modulart
DB_NAME=modulart
# En Render: DB_TYPE=postgres y DATABASE_URL lo inyecta el Postgres
